
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';

.logo {
    height: 60px;
    width: 170px;

}


.logo-splash {
    height: 60vh;
    width: 60vw;

}
.splashInstructions {
    font-size: 30px;
    display: flex;
    justify-content: center;
    bottom: 1;
    position:absolute;
}

.square {
    height: 40vh;
    width: 100vw;
    background-color: rgb(112, 161, 250);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}
.orangeSquare {
    height: 5vh;
    width: 100vw;
    background-color: #F85109;
    display: flex;
    justify-content: center;
    bottom: 0;
    position:absolute;
    max-width: 100%;
}

.splash {
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/97a1749e-0dec-4b7a-8de6-f61481078435/d93bght-cb13859f-1629-4d39-9caa-1c28f91d1eea.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvOTdhMTc0OWUtMGRlYy00YjdhLThkZTYtZjYxNDgxMDc4NDM1XC9kOTNiZ2h0LWNiMTM4NTlmLTE2MjktNGQzOS05Y2FhLTFjMjhmOTFkMWVlYS5naWYifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.LbzIE8AsRPrdHrMDgZU-3u9IgT6Bf7_QqWNSQaKYmac");
    // background-image: url("https://cdn.vox-cdn.com/thumbor/22I6pvMdtX2GPikApQadbE2fxWc=/0x0:2257x1320/1820x1213/filters:focal(949x480:1309x840):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/63738986/pokemon.0.0.png");
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    max-width: 100%;

}

.center {
    text-align: center;
    -ms-flex-item-align: center;
}

.nav-link {
    margin-left: 100px;
    color:black !important;
}
@font-face {
    font-family: "Pixeboy";
    src: font-url("Pixeboy.ttf") format("truetype");
  }
  body{
      font-family: "Pixeboy";
      background-color: darkgray;
  }

.devise-text {
    color: black
}

.sudowoodo {
    display: flex;
    justify-content: center;
    height: 60vh;

}

.claimButtons {
    margin-left: 150px;
}

.rankingsColumnText {
    color:brown
}

.cardBox {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards {
    display: inline-flex;
    margin-right:1.5em;

}

.button {
    background-color: #4caf4f00; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.playpause{
    display: flex;
    align-items: flex-end;
}

